.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.MuiDateCalendar-root {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    .MuiDayCalendar-header {
        background-color: #fafbfd;
        margin-bottom: 1.2rem;
        width: fit-content;
        margin: 0px auto 1.2rem auto;
        box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
        border-bottom: 1px solid #eee;
      }

    .MuiPickersCalendarHeader-root {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .MuiPickersCalendarHeader-labelContainer {
        font-size: 2rem;
        margin-right: unset !important;

    }

    .MuiPickersArrowSwitcher-button {
        font-size: 1.5rem;
    }

    .MuiDayCalendar-weekDayLabel {
        width: 80px !important;
        height: 60px !important;
        font-weight: 700;
    }

    .MuiPickersDay-root {
        font-size: 1.25rem !important;
        width: 80px !important;
        height: 80px !important;
        border: 0.5px solid #efefef;
        border-radius: 0;
    }

    .MuiDayCalendar-monthContainer {
        position: relative;
    }
}

.day-wrapper{
    padding-bottom: 5px;
}

.day {
    position: absolute;
    bottom: 20%;
    font-size: 12px;
    width: max-content;
    cursor: pointer;
    right: 50%;
    transform: translateX(50%);
}

.selected-day {
    color: #fff;
}
.no-day-selected{
    color:#00a600;
}